[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-mptt = "*"
django-tagging = "*"
"beautifulsoup4" = "*"
mots-vides = "*"
pytz = "*"
pyparsing = "*"
django-xmlrpc = "*"
django-blog-zinnia = "*"
django-ckeditor = "*"
django-hitcount = "*"
django-model-utils = "*"
django-polymorphic = "*"

[dev-packages]

[requires]
python_version = "3.6"
