[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
django = "*"
pillow = "*"
django-hitcount = "*"
validate-email = "*"
django-model-utils = "*"
django-ckeditor = "*"
django-cleanup = "*"
django-crispy-forms = "*"
django-js-asset = "*"

[dev-packages]

[requires]
python_version = "3.6"
