{% extends "blogapp/base.html" %}

{% block content %}
<h1 class="articleTitle">{{ blogpost.article_title }}<br>( {{ hitcount.total_hits }} views)</h1>
<div id=blogPostBody style="margin: 20px">
	{{ blogpost.text | safe }}
</div>
<br>
<div id="commentsSection">
{% if blogpost.comment_set.all.count > 0 %}
	<h2>Comments({{blogpost.comment_set.all.count}})</h2><br>
	{% for comment in blogpost.comment_set.all %}
		<div class="comment">
			<div class="content">
				<p>{{comment.text}}</p>
			</div>
			<div class="author">
				<p class="authorText"><b>{{comment.author}}</b></p>
				<p class="date">{{comment.pub_date}}</p>
			</div>
		</div>
	{% endfor %}
{% else %}
	<h2>Comments(0)</h2><br>
	<p style="margin: 15px">No comments to show...</p>
{% endif %}
<form id="commentForm" action="{% url 'blogs:comment' blogpost.id %}" method="post">
	{% csrf_token %}
	{% if comment_error_message %}
		<p style="color: red;">{{ comment_error_message }}</p>
	{% endif %}
	Display-name:<br>
	<input type="text" name="username" value=""><br>
	Comment:<br>
	<textarea type="text" name="commentText" style="width: 75%;" rows="10"></textarea><br>
	<input type="submit" value="Comment">
</form>
{% endblock %}
