{% extends "blogapp/base.html" %}

<style>
	.entry
	{
		display: block;
		float: center;
	}
</style>
	
{% block content %}

<form action="{% url 'blogs:createUser' %}" method="post">
	{% csrf_token %}
	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	<div class="entry">
		Display name: <br>
		<input type="text" name="username" value="">
	</div>
	
	<div class="entry">
		email address: <br>
		<input type="text" name="email" value="">
	</div>
	
	<div class="entry">
		Password: <br>
		<input type="text" name="password" value=""><br>
		Confirm Password: <br>
		<input type="text" name="confirmPass" value="">
	</div>
		
	<input type="submit" value="Sign up" style="float: center;">
</form>

{% endblock %}