{% extends "blogapp/base.html" %}

{% block content %}

<h2 class="articleTitle">Recent News!</h2>

{% if latestblog_activity_list and latestquestion_activity_list and latestnews_activity_list %}
	<ul style="margin: 15px">
		{% for blogpost in latestblog_activity_list %}
			<li style="list-style-type: none;">Blog Posted! <a href="blog/{{blogpost.id}}/">{{ blogpost.article_title }}</a> Published on: {{blogpost.pub_date}}</li>
		{% endfor %}
		{% for askpost in latestquestion_activity_list %}
			<li style="list-style-type: none;">Question Posted! <a href="blog/forum/{{askpost.id}}/">{{ askpost.question_title }}</a> Published on: {{askpost.pub_date}} <b>By:</b> {{askpost.author}}</li>
		{% endfor %}
		<h3>Site News!</h3>
		{% for sitenews in latestnews_activity_list %}
			<li>{{ sitenews|safe }}</li>
		{% endfor %}
	</ul>
{% else %}
	<p style="margin: 15px;">No posts are available.</p>
{% endif %}

{% endblock %}

{% block pollbar %}

<h2 style="text-align: center; color: #99b2dd;">Poll of the Week!</h2>
<div class="poll">
	<p style="text-align: center;"><b>{{ selected_poll.question_text|default:"Not Found!" }}</b></p>
	{% if show_poll_result %}
		<p style="text-align: center;"><b>Results</b></p>
		<ul class="pollHeader">
			{% for choice in selected_poll.choice_set.all %}
				<li class="pollHeader">{{ choice.choice_text }}: {{ choice.votes }}</li>
			{% endfor %}
		</ul>
	{% else %}
		<p style="text-align: center;"><b>Choose:</b></p>
		<ul class="pollHeader">
			{% for choice in selected_poll.choice_set.all %}
			<li class="navigationHeader"><a href="{% url 'blogs:vote' selected_poll.id choice.id %}">{{ choice.choice_text }}: {{ choice.votes }}</a></li>
			{% endfor %}
		</ul>
	{% endif %}
</div>

{% endblock %}